extends layout.pug

block title
	title Voting App

block content
	h2 Recent Polls
	if polls
		each poll in polls
			div
				span
					a(
						href=`/view/${poll._id}`
					) #{poll.title}
				span
					| #{poll.owner}
	div
		| #{message}