extends layout.pug

block title
	title My polls

block content
	h1 #{user}'s Polls
	if polls
		each poll in polls
			a(href=`/view/${poll._id}`)
				div(class="list-poll-row")
					span(class="list-poll-name") #{poll.title}	
		
	else
		div(class="message")
			| #{message}